.container {
    position: absolute;
    background: var(--primary-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.item {
    font-size: 20px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}