.container {
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.close {
    background: transparent;
    border: none;
    font-size: 48px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}