.button {
    min-width: 200px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    height: 45px;
}